<div class="main">
  <div class="profile">
    <img class="profile-image-icon" src="assets/profile.jpg" alt="" />
  </div>
  <div class="content">
    <div class="links">
      <div class="nav-items">
        <a class="button" href="https://www.github.com/briankariuki">
          <img class="icon" src="assets/github.png" alt="icon" />
          Github
        </a>
      </div>
      <div class="nav-items">
        <a class="button" href="https://www.twitter.com/briankariuki79">
          <img class="icon" src="assets/twitter.png" alt="icon" />
          Twitter
        </a>
      </div>
    </div>
    <div class="name">Brian Kariuki</div>
    <div class="person-title">Football Fan. Music. Believer.</div>
    <div class="person-title">
      Full-Stack Developer, UI/UX and Graphic Designer, Motion Graphics and 3D
      Artist.
    </div>
    <div class="person-title">Nairobi, Kenya</div>

    <hr class="underline" />
  </div>
  <div class="qualifications">
    <div class="school">
      Studied Mathematics and Computer Science at JKUAT, Class of 2020
    </div>
  </div>
  <div class="big-button">
    <a class="button has-checkered">
      AVAILABLE FOR FREELANCE
    </a>
  </div>

  <div class="main-content">
    <div class="title">Full Stack Web Developer</div>
    <hr />
    <div class="logos">
      <figure>
        <img src="assets/Logo/react.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/vue.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/js.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/Expressjs.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/node.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/sass.png" alt="" />
      </figure>
    </div>
    <div class="description">
      <div class="sideA">
        <P>
          The World Wide Web has revolutionalized the internet as we know it
          today. As such, the web is the future. I use Javascript as my main
          programming language - React and Vue as the Front-End Frameworks. For
          the backend, NodeJs with Express.js or Adonis.js. MongoDB and MySQL
          are my preferred database solutions. I use SCSS for the stylesheets.
        </P>
        <p>
          Check out some of my work on
          <strong
            ><a class="link" href="https://www.github.com/briankariuki"
              >Github</a
            ></strong
          >
        </p>
        <p>
          <span style="font-weight: bold;">Other Programming Languages :</span>
          Dart, Flutter, R, Python and PHP.
        </p>
        <p>
          <span style="font-weight: bold;">Deployment :</span> Firebase Hosting,
          Heroku, Digital Ocean and C-Panel
        </p>
        <p>
          <span style="font-weight: bold;">Other Web Technologies :</span> Git,
          Firebase, HTML5 and CSS.
        </p>
      </div>
      <div class="sideB">
        <P>
          <figure>
            <img src="assets/3.png" alt="" />
          </figure>
        </P>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="title">Graphic Designer, Motion Graphics and 3D Artist</div>
    <hr />
    <div class="logos">
      <figure>
        <img src="assets/Logo/figma.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/framer.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/xd.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/photoshop.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/ae.png" alt="" />
      </figure>
      <figure>
        <img src="assets/Logo/blender.png" alt="" />
      </figure>
    </div>
    <div class="description">
      <div class="sideB2">
        <P>
          <figure>
            <img src="assets/4.png" alt="" />
          </figure>
        </P>
      </div>
      <div class="sideA2">
        <P>
          I also do UI/UX design, Graphic design, Wireframing and app
          prototyping and logo design, with tools such as Figma, Framer Web,
          Adobe XD, Adobe Illustrator and Photoshop. I'm interested in motion
          graphics, animations and 3D Product Visualization using softwares such
          as Adobe After Effects, Cinema 4D and Blender. Check out some of my
          work on
          <strong
            ><a
              class="link"
              href="https://www.youtube.com/channel/UCE4jzWEzarrnuNu_aUPbk-A"
              >Youtube</a
            ></strong
          >
          and <strong><a class="link">Artstation</a></strong>
        </P>
      </div>
    </div>
  </div>

  <div class="contact-section">
    <div class="title">Contact Me</div>
    <hr />
    <div class="description">
      <div class="sideA">
        <P>
          Want to hire me? Contact me through my email address.
        </P>
        <p>
          <span style="font-weight: bold;">Email Address:</span>
          briankariukibusiness@gmail.com
        </p>
      </div>
      <div class="sideB">
        <P>
          <figure>
            <img src="assets/1.png" alt="" />
          </figure>
        </P>
      </div>
    </div>
    <hr />
    <div class="footer">
      <p>Brian Kariuki &copy; {{ today | date: "yyyy" }}</p>
    </div>
  </div>
</div>
